// Text Colors
.mi-color-black     { color: $color-black; }
.mi-color-inverted  { color: $color-inverted; }
.mi-color-error     { color: $color-error; }
.mi-color-success   { color: $color-success; }
.mi-color-warning   { color: $color-warning; }
.mi-color-focus     { color: $color-focus; }
.mi-color-aluminum  { color: $color-aluminum; }
.mi-color-silver    { color: $color-silver; }
.mi-color-lightgray { color: $color-lightgray; }
.mi-color-gray      { color: $color-gray; }
.mi-color-midgray   { color: $color-midgray; }
.mi-color-darkgray  { color: $color-darkgray; }

// Background Colors
.mi-bg-black      { background-color: $color-black; }
.mi-bg-inverted   { background-color: $color-inverted; }
.mi-bg-error      { background-color: $color-error; }
.mi-bg-success    { background-color: $color-success; }
.mi-bg-warning    { background-color: $color-warning; }
.mi-bg-focus      { background-color: $color-focus; }
.mi-bg-aluminum   { background-color: $color-aluminum; }
.mi-bg-silver     { background-color: $color-silver; }
.mi-bg-lightgray  { background-color: $color-lightgray; }
.mi-bg-gray       { background-color: $color-gray; }
.mi-bg-midgray    { background-color: $color-midgray; }
.mi-bg-darkgray   { background-color: $color-darkgray; }
.mi-bg-highlight  { background-color: $color-highlight; }