.mi-tab {
    margin-bottom: $base-line;
    font-size: $font-size-small;

    & li em,
    & li.mi-active a {
    	color: $color-text;
    	border: 1px solid rgba(0, 0, 0, .1);
    	cursor: default;
    	text-decoration: none;
    	background: none;
    }
    & em,
    & a {
    	position: relative;
    	top: 1px;
    	font-style: normal;
    	display: block;
    	padding: .5rem 1rem;
        margin: 0 2px;
    	border: 1px solid transparent;
    	color: rgba(0, 0, 0, .5);
    	text-decoration: none;
    }
    & a:hover {
    	@include transition;
    	color: $color-text;
        /* text-decoration: underline; */
        /* background-color: #F0F0F0; */
        border: 1px solid rgba(0,0,0,.09);
        border-bottom: 1px solid #fff;
    }
}

@include breakpoint($min: $sm) {
    .mi-tab {
        & ul {
            @include flex;

            margin-top: -1px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
        & li em,
        & li.mi-active a {
            border-bottom: 1px solid #fff;
        }
    }
}
